/* CSS Document */

body {
  font-family: Helvetica, Arial, sans-serif;
	margin: 10px;
	color: #333;
	background: #eee;
}

a {
	color: #333;
}	

h1, h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

.highlight {
	background-color: #ffccff;
}

.body {
  width: 320px;
/*  margin: 0 auto;*/
}