/* CSS Document */

body {
	font-family: 'Signika', sans-serif;
	margin: 15px;
  color: #333;
	background: #e1f1f5;
	font-size: 18px;
}

a {
	color: #333;
}

h1, h2 {
	font-weight: normal;
}

.highlight {
	background-color: #fffbcc;
	padding: 0.5em;
}

div.body {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  background: white;
}
